td > p { margin-bottom: 0;}
code, samp, kbd, pre{
    font-family: "Courier New", Courier, monospace, sans-serif;
    text-align: left;
    color: #555;
    }
pre {
    line-height: 1.6em;
    font-size: 11px;
    padding: 0.1em 0.5em 0.3em 0.7em;
    border-left: 11px solid #ccc;
    margin: 1.7em 0 1.7em 0.3em;
    overflow: auto;
    width: 93%;
    }
/* target IE7 and IE6 */
*:first-child+html pre {
    padding-bottom: 2em;
    overflow-y: hidden;
    overflow: visible;
    overflow-x: auto; 
    }
* html pre { 
    padding-bottom: 2em;
    overflow: visible;
    overflow-x: auto;
    }
h1 {
    color: gray;
    }

input:invalid {
    box-shadow: none; /* FF */
    outline: 0;       /* IE 10 */
    border: 2px solid red;
    }

input:after {
    content: "AAAA";
    }
